body{
    background-color: rgb(218, 241, 236);
    text-align: center;
    color:white;
}
.cabecalho{
     background:url(imagens/cabecalho.png) center  center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-width: 0.7px;
    border-style: solid;
    border-color: #000;
    border-radius: 5px;
    height: auto;
}
.voltar{
      height: 35px;
      margin-right: 5%;
      margin-top: 10px;
  }
  .brasil{
      height: 30px;
      margin-left: 80%;
      margin-top: 10px;
  }
.logo{
    margin-top: 0px;
    position: relative;
    height: 90px;
}
.rodape{
   background-color: black; background:url(imagens/cabecalho.png) center  center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 5px;
    border-width: 0.7px;
    border-style: solid;
    border-color: #000;
    height: auto;
}
.imagem{
    position: relative;
    height: 40px;
}
.mensagem{
    height: 100px;
    width: 190px;
}
.cooperacao1{
    position: relative;
    margin: 10px;
    color: white;
}
.cooperacao2{
    position: relative;
    margin: 10px;
    color: white;
}
.cooperacao3{
    position: relative;
    margin: 10px;
    color: white;
}
.slogan{
    position: relative;
    height: 65px;
}
.referencia{
    position: relative;
    height: 25px;
}
small{
    position:relative;
    text-align:center;
    color:white;
}
