body{
    margin: 0%;
    background-color: rgb(218, 241, 236);
    text-align: center;
    color:white;
}
.cabecalho{
     background:url(imagens/textura.avif) center  center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-width: 0.7px;
    border-style: solid;
    border-color: #000;
    height: auto;
}
.voltar{
    height: 30px;
    margin: -1% 0% 0% -86%;
}
.bandeira{
    position: absolute;
    margin: -57px 0% 0% 70%;
    height: 80px;
    transition: 1s;
}
.bandeira:hover{
    position: absolute;
    margin: -18px 0% 0% 70%;
    height: 80px;
    transition: 1s;
}
.logo{
  margin: 40px;
  position: relative;
  height: 75px;
}
.rodape{
   background-color: black; 
   background:url(imagens/textura.avif) center  center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-width: 0.7px;
    border-style: solid;
    border-color: #000;
    height: auto;
}
.form{
    background: #237694;
    display: inline-grid;
    padding: 30px 60px;
    margin: 50px;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 10px;
}
label{
    margin:10px;
    font-weight: bold;
}
.botaoenv:hover {
    text-decoration: underline;
    border-style: solid;
}
.botaoenv:hover{
    background-color: rgb(92, 255, 155);
    color: black;
    width: 60px;
    height: 25px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 10px;
}
.imagem{
    height: 40px;
}
.imagem:hover{
    height: 45px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 100%;
}
.mensagem{
    height: 100px;
    width: 190px;
}
h4 {
    margin: 5px;
}
.cooperacao1,
.cooperacao2,
.cooperacao3,
.cooperacao4,
.cooperacao5 {
    margin: 5.7px;
    color: white;
    text-decoration: none;
}
.cooperacao1:hover,
.cooperacao2:hover,
.cooperacao3:hover,
.cooperacao4:hover,
.cooperacao5:hover {
    color: rgb(20, 3, 255);
    text-decoration: underline;
}
.nomes{
    margin: 2%;
    display: flex;
    justify-content: space-around;
}
.direitos {
    font-size: 9px;
    text-align: center;
    margin: -24px 0 1% 0;
}
img.doacao {
    display: grid;
    transform: rotate(-45deg);
    height: 71px;
    border-radius: 17px;
    justify-content: end;
    margin: 6% 0% 11% 6%;
}
img.doacao:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border: 0.5px solid #000;
    transition: background 0.6s;
}
a{
    display: contents;
}
