body{
    background-color: rgb(218, 241, 236);
    text-align: center;
}
.cabecalho{
    background-color: black;
    border-width: 0.7px;
    border-style: solid;
    border-color: #000;
    border-radius: 5px;
    height: auto;
}
.logo{
    margin-top: 0px;
    position: relative;
    height: 200px;
}
.rodape{
   background-color: black;
    border-radius: 5px;
    border-width: 0.7px;
    border-style: solid;
    border-color: #000;
    height: auto;
}
.imagem{
    position: relative;
    height: 40px;
    margin: 20px;
}
.referencia{
    position: relative;
    height: 25px;
}
